//@import './config';
@use './_config' as cfg; //Usa "cfg" como alias para el archivo "config.scss"

// --------- Header Blog / Noticias ------ //
// ---- ubicacion o link de navegacion-----//
.section_headerblog {
  /*   top: 75px;
  z-index: 100;
  position: sticky;
  display: block;
  padding: 0px 4rem; */

  &_content {
    display: inline;
    text-align: start;

    &_title {
      margin-top: 32px;
      text-align: center;
    }

    &_breadcrumbs {
      list-style: none;
      display: block ruby;

      &_item {
        font-size: 1.8rem;
        font-family: cfg.$font-primary;

        &_link-text {
          text-decoration: none;
          color: cfg.$color-5;
        }

        &_link-title {
          text-decoration: none;
          color: #f2b017;
          margin-left: 15px;
        }
      }
    }

    &_breadcrumbs-category {
      margin-top: 16px;
      margin-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px;

      &_item {
        border-radius: 13px 13px 13px 13px;
        color: cfg.$color-5;
        background: cfg.$color-cardaside;
        list-style: none;
        padding: 2rem 0px;

        &_link {
          text-decoration: none;
          padding: 0.5rem 1rem;
          border: 1px solid #4c3789;
          border-radius: 48px;
          margin: 6px 3px;
          display: inline-block;
          color: #c1bdf4;
          font-family: cfg.$font-tertiary;
          font-size: 12px;
          font-weight: 400;
        }

        &_link:hover {
          border: 1px solid #ef2c94d7;
          color: #ffffff;
          background: #ef2c93;
          border: 1px solid #f2b017;
          background: #f2b017;
        }
      }
    }
  }
}

//################ NOTICIAS ############### //
// --- Contenendor  MAIN NOTICIAS /POST ----//
.section_main {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3rem;
  background: cfg.$color-background;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  /*-------section NOTICIAS & ITEMS  --------------*/
  &_newsb {
    width: 90%;
    margin: 0 auto;

    &_article {
      margin-bottom: 2rem;
      //padding-top: 2.5rem;
      display: flex;
      flex-direction: column;
      background: cfg.$color-4c;
      align-items: center;

      &_tumbnail-noticia {
        width: 100%;

        &_img {
          width: 100%;
          height: 100%;
        }
      }

      &_tumbnail-item {
        max-width: 180px;
        max-height: 180px;
        width: 180px;
        height: 180px;
        position: relative;
        overflow: hidden;
        border-radius: 13px;

        &_img {
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: cover;
        }
      }

      &_content {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        //margin-top: 2rem;
        margin-bottom: 3rem;
        padding: 0rem 0.5rem 0rem 0.5rem;
        position: relative;
        left: 0px;

        &_date {
          font-size: 0.8rem;
          margin-bottom: 8px;
        }

        &_title {
          font-size: 1.5rem;
          color: cfg.$color-5;
          font-weight: 600;
          margin-top: 0.5rem;
          margin-bottom: 1rem;
        }

        &_resume {
          font-family: cfg.$font-tertiary;
          color: cfg.$color-5b;
          line-height: 1.6;
          margin-top: 0.8rem;
          margin-bottom: 3px;
        }

        &_more {
          font-size: 1rem;
          margin-top: 1rem;
          margin-bottom: 0px;
          color: cfg.$color-3;
          font-family: cfg.$font-tertiary;
          text-decoration: none;
        }
      }
    }

    &_article-item {
      margin-bottom: 2rem;
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      background: cfg.$color-4c;
      align-items: center;
      text-align: center;

      &_tumbnail {
        max-width: 180px;
        max-height: 180px;
        width: 180px;
        height: 180px;
        overflow: hidden;
        border-radius: 13px;

        &_img {
          width: 100%;
          height: 100%;
        }
      }

      &_content {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        padding: 0rem 0.5rem 0rem 0.5rem;

        &_title {
          font-size: 1.5rem;
          color: cfg.$color-5;
          font-weight: 600;
          margin-top: 0.5rem;
          margin-bottom: 1rem;
        }

        &_more {
          font-size: 1rem;
          margin-top: 1rem;
          margin-bottom: 0px;
          color: cfg.$color-3;
          font-family: cfg.$font-tertiary;
          text-decoration: none;
        }
      }
    }

    &_pagination {
      &_list {
        display: flex;
        list-style-type: none;
        justify-content: center;
        padding-left: 0px;

        &_number {
          border: 1px solid cfg.$color-3;
          border-radius: 0px 0px 0px 12px;
          color: cfg.$color-5;
          background-color: cfg.$color-3;
          margin: 0px 3px;
          width: 18px;
          text-align: center;
          font-weight: 800;
        }

        &_number.active {
          border: 1px solid #e2be64;
          background-color: #e2be64;
          border-radius: 0px 0px 0px 12px;
          color: cfg.$color-5;
          margin: 0px 3px;
          width: 18px;
          text-align: center;
          font-weight: 800;
        }
      }
    }
  }

  /*  ---- section Detalles de noticia -----*/
  &_news {
    width: 90%;
    margin: auto;

    &_article {
      display: flex;
      flex-direction: column;
      background: cfg.$color-background;
      margin-top: 2rem;

      &_tumbnail {
        width: 100%;
        height: auto;

        &_img {
          vertical-align: middle;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &_content {
        background: cfg.$color-4c;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: -30px;
        padding: 1.2rem 1.8rem;
        position: relative;

        &_title {
          color: cfg.$color-5;
          font-weight: 600;
          margin-top: 10px;
          margin-bottom: 20px;
        }

        &_resume {
          font-family: cfg.$font-tertiary;
          color: cfg.$color-5b;
          line-height: 1.6;
        }
      }
    }

    &_pagination {
      &_list {
        display: flex;
        list-style-type: none;
        justify-content: center;
        padding-left: 0px;

        &_word {
          border: 1px solid cfg.$color-3;
          border-radius: 125px 125px 125px 125px;
          color: cfg.$color-5;
          background-color: cfg.$color-3;
          padding: 3px 0.5rem;
          margin-left: 20px;
          font-family: sans-serif;
          //width: 18px;
          //text-align: center;
          //font-weight: 800;
        }

        &_word.active {
          border: 1px solid #e2be64;
          background-color: #e2be64;
          border-radius: 0px 0px 0px 12px;
          color: cfg.$color-5;
          margin: 0px 3px;
          width: 18px;
          text-align: center;
          font-weight: 800;
        }
      }
    }
  }

  /*  ---------- section aside -------------*/
  &_aside {
    margin: 0 auto;
    width: 90%;
    margin-top: 2rem;
    //grid-area: section_main_aside;

    &_adds {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      margin-top: 2rem;
      padding: 1.8rem;
      background: cfg.$color-cardaside;
      box-shadow: 0px 10px 5px 0px rgba(119, 123, 146, 0.02);
      color: cfg.$color-5;
      border-radius: 13px 13px 13px 13px;
      max-width: 100%;
      box-sizing: border-box;

      &_title {
        font-weight: 600;
        margin-left: 0px;
        margin-top: 0px;
      }

      &_tumb {
        display: flex;
        justify-content: space-around;

        &_img {
          border-radius: 4px 4px 4px 4px;
          width: 180px;
        }
      }
    }

    &_category {
      margin-top: 2rem;
      margin-bottom: 2rem;
      border-radius: 13px 13px 13px 13px;
      padding: 1.8rem;
      color: cfg.$color-5;
      padding-top: 1rem;
      padding-bottom: 1rem;
      background: cfg.$color-cardaside;

      &_title {
        font-weight: 600;
      }

      &_list {
        width: 95%;
        padding-left: 0px;
        margin-left: 0px;
        list-style: none;
        font-family: cfg.$font-tertiary;

        &_item {
          color: cfg.$color-5b;
          /*  border-bottom: 1px solid #766ee659; */
          padding-top: 1rem;
          padding-bottom: 1rem;

          &_link {
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            color: #c1bdf4;
          }
        }
      }
    }

    &_wikitags {
      margin-top: 2rem;
      border-radius: 13px 13px 13px 13px;
      padding: 1.8rem;
      color: cfg.$color-5;
      padding-top: 1rem;
      padding-bottom: 1rem;
      background: cfg.$color-cardaside;

      &_title {
        font-weight: 600;
      }

      &_list {
        &_link {
          text-decoration: none;
          padding: 1rem 2rem;
          border: 1px solid #4c3789;
          border-radius: 48px;
          margin: 6px 3px;
          display: inline-block;
          color: #c1bdf4;
          font-family: cfg.$font-tertiary;
          font-weight: 400;
        }
      }
    }
  }
}

/*  ---- section Detalles de noticia -----*/

//--------------MEDIA QUERYS--------------//
//FUXIA ALTERNATIVO, Tamaño XXS, Ancho Maximo 319px, mobile xxs
@media (max-width: 319px) {
}

//CELESTE, Tamaño S , Tablet
@media (min-width: 460px) and (max-width: 620px) {
  .footer-grid {
    &_text {
      grid-column: span 2;
    }
  }
}

//NARANJA, Tamaño MD
@media (min-width: 620px) and (max-width: 1024px) {
  .section_main {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3rem;
    background: cfg.$color-background;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 'section_main_news section_main_aside';
    gap: 1.5rem;

    &_newsb {
      &_article {
        margin-bottom: 2rem;
      }
    }

    &_aside {
      margin: 0 auto;
      width: 90%;
      grid-area: section_main_aside;
      margin-top: 2rem;

      &_adds {
        margin-top: 0px;
      }

      &_category {
        margin-top: 0px;
      }
    }
  }
}

//VIOLETA, Tamaño L
@media (min-width: 1024px) and (max-width: 1280px) {
  .section_main {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3rem;
    background: cfg.$color-background;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 'section_main_news section_main_aside';
    gap: 1.5rem;

    &_news {
      margin: 0 auto;
    }

    &_newsb {
      &_article {
        margin-bottom: 2rem;
      }
    }

    &_aside {
      margin: 0 auto;
      width: 90%;
      grid-area: section_main_aside;
      margin-top: 2rem;

      &_category {
        margin-top: 0px;
      }

      &_adds {
        margin-top: 0px;
      }
    }
  }
}

//OLIVA, Tamaño XL
@media (min-width: 1280px) {
  .section_main {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3rem;
    background: cfg.$color-background;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 'section_main_news section_main_aside';
    gap: 1.5rem;

    &_news {
      margin: 0 auto;
    }

    &_newsb {
      &_article {
        margin-bottom: 0px;
      }
    }

    &_aside {
      margin: 0 auto;
      width: 90%;
      grid-area: section_main_aside;

      &_adds {
        margin-top: 0px;
      }

      &_category {
        margin-top: 0px;
      }
    }
  }
}

// --------- PARTE DE NUXT------------------//
// --------- NOTICIAS FILTRADAS ------------//

.section_news_category {
  margin-top: 0px;

  &_title {
    text-align: center;
    margin: 0px 0.8rem;
    color: #ef2c93;

    &_name {
      font-family: 'Montserrat Alternates', sans-serif;
      text-transform: uppercase;
      text-align: center;
      font-size: 2rem;
      margin-bottom: 8px;
    }

    &_description {
      line-height: 2;
      margin-top: 0px;
    }
  }

  &_article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;

    &_card {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      &_tumb {
        width: 220px;
        height: 220px;
        overflow: hidden;
        max-width: 220px;
        max-height: 220px;
        margin: 0 auto;

        &_link {
          &_img {
            border-radius: 15px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      &_content {
        padding-right: 2rem;
        padding-left: 2rem;

        &_date {
          font-family: cfg.$font-tertiary;
          font-weight: 400;
          display: block;
        }

        &_title {
          display: block;
          margin-top: 0px;
          margin-bottom: 0.1rem;
        }

        &_more {
          margin-top: 6px;
          text-transform: uppercase;
          font-family: cfg.$font-tertiary;

          &_link {
            text-decoration: none;
            color: cfg.$color-5;
            color: cfg.$color-3;
          }
        }
      }
    }
  }
}

// ---------- barra de categorias ----------//
.section_main_filter {
  &_category {
    margin-top: 2rem;
    border-radius: 13px 13px 13px 13px;
    padding: 1.8rem;
    color: cfg.$color-5;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: cfg.$color-cardaside;

    &_title {
      font-weight: 600;
    }

    &_content {
      &_link {
        text-decoration: none;
        padding: 1rem 2rem;
        border: 1px solid #893777;
        border-radius: 48px;
        margin: 6px 3px;
        display: inline-block;
        color: #c1bdf4;
        font-family: cfg.$font-tertiary;
        font-weight: 400;
      }

      &_link:hover {
        border: 1px solid #39276f;
        color: #dcd9fc;
        background: #4c368d;
      }
    }
  }
}
