@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat+Alternates:wght@200;400;700;800&family=Nunito:wght@200;300;400&display=swap");
@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css");
h1 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #fff;
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
  font-family: "Montserrat Alternates", sans-serif;
  color: #fff;
}

h3 {
  font-size: 1.25rem;
  font-family: "Montserrat Alternates", sans-serif;
  color: #fff;
}

p {
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
}

body {
  border-left: 1px solid #ef2c93;
  border-right: 1px solid #ef2c93;
  margin: 0 auto;
  color: #fff;
  background: rgb(0, 0, 41);
}

body::-webkit-scrollbar {
  background-color: #0d0923;
  border-radius: 5px;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(214, 59, 145, 0.9529411765);
  border-radius: 13px 13px 13px 13px;
}

.active {
  border: 1px solid #EFAA1C;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom-width: 3px;
}

/* Estilos para dispositivos móviles, Tamaño XS, Mobile */
.cont_header {
  top: 0;
  z-index: 100;
  position: sticky;
  background: #211f8f;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 5px 5px rgba(56, 55, 55, 0.065);
}
.cont_header_nav {
  padding: 1rem 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cont_header_nav-logo {
  display: flex;
}
.cont_header_nav-logo_link {
  text-decoration: none;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  padding-left: 16px;
  padding-top: 8px;
}
.cont_header_nav-logo_link_img {
  width: 50px;
  height: 38px;
  margin-left: 0.8rem;
  margin-top: 0px;
}
.cont_header_nav-logo_link_title {
  margin-top: 0px;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 0.8rem;
  padding-left: 3px;
}
.cont_header_nav-menu {
  padding-top: 12px;
  padding-right: 14px;
}
.cont_header_nav-menu_list {
  display: flex;
  list-style: none;
  gap: 1rem;
}
.cont_header_nav-menu_list_item {
  padding: 5px 10px;
}
.cont_header_nav-menu_list_item_link {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
}
.cont_header_nav-button_open {
  display: none;
  padding-right: 16px;
}
.cont_header_nav-button_open_icon {
  color: aliceblue;
  margin-top: 10px;
  background: transparent;
  font-size: 2.5em;
}
.cont_header_nav-button_close {
  display: none;
}
.cont_header_nav-button_close_icon {
  color: aliceblue;
  margin-top: 10px;
  background: transparent;
  font-size: 2.5em;
}
@media screen and (max-width: 960px) {
  .cont_header .cont_header_nav-button_open,
  .cont_header .cont_header_nav-button_close {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  .cont_header .cont_header_nav-button_open {
    color: #1c1c1c;
  }
  .cont_header .cont_header_nav-button_close {
    color: #ececec;
  }
  .cont_header .cont_header_nav-menu {
    padding-top: 12px;
    padding-right: 14px;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0c024b;
    padding: 2rem;
    bottom: 0;
    box-shadow: 0 0 0 100vmax rgba(24, 8, 95, 0.568);
    width: 32%;
  }
  .cont_header .cont_header_nav-menu.visible {
    opacity: 1;
    visibility: visible;
    padding-top: 0px;
    padding-right: 8px;
  }
  .cont_header .cont_header_nav-menu_list {
    flex-direction: column;
    width: 150px;
  }
  .cont_header .cont_header_nav-menu_list_item_link {
    color: rgba(236, 236, 236, 0.9254901961);
  }
}

.section_slide {
  background-image: url("../assets/images/pages/bg1.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  align-content: stretch;
}
.section_slide_content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.section_slide_content_title {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}
.section_slide_content_description {
  font-family: "Nunito", sans-serif;
  margin-top: 10px;
}
.section_slide_content_button {
  background-image: url("../assets/images/icons-buttoms/get-it-on_playstore.png");
  background-repeat: no-repeat;
  background-size: 120px;
  width: 120px;
  height: 36px;
  border-radius: 6px;
  border: 1px solid #fff;
}
.section_slide_image {
  width: 270px;
  height: 270px;
  position: relative;
  top: -60px;
  margin-left: 0;
  margin-right: 0;
}
.section_slide_image_gamer {
  position: relative;
  width: 100%;
  height: 100%;
  left: 40px;
}

.section_category-popular {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.section_category-popular_title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
}
.section_category-popular_title_img {
  width: 180px;
  height: 55px;
  display: block;
}
.section_category-popular_title_name {
  margin-top: 6px;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.section_category-popular_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  justify-content: space-around;
}
.section_category-popular_content-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 1.5rem;
  text-align: center;
  margin: 0px 8px 16px 8px;
  background-image: url("../assets/images/pages/card1-bg1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 290px;
}
.section_category-popular_content-card_img {
  width: 180px;
  height: 198px;
  /* max-width: 280px; */
}
.section_category-popular_content-card_text {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  padding: 1rem;
  margin-bottom: 0px;
}
.section_category-popular_content-card_link {
  background: url("../assets/images/icons-buttoms/navigation-bg1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 75px;
  height: 55px;
}
.section_category-popular_content-card_link_icon {
  color: #fff;
  padding-top: 5px;
}

.section_hability {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0rem 0.75rem;
  display: grid;
  justify-items: center;
}
.section_hability_title {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
.section_hability_title_name {
  text-transform: uppercase;
  text-align: center;
}
.section_hability_title_description {
  font-family: "Nunito", sans-serif;
  line-height: 2;
}
.section_hability_content {
  background: #160e3d;
  border: 3px solid rgba(157, 116, 223, 0.3019607843);
  border-radius: 40px 40px 40px 40px;
  width: 95%;
  padding-bottom: 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
  display: grid;
  justify-items: center;
}
.section_hability_content-info {
  display: block;
}
.section_hability_content-info_data {
  font-family: "Nunito", sans-serif;
}
.section_hability_content-info_category {
  font-family: "Montserrat Alternates", sans-serif;
  margin-top: 1rem;
}
.section_hability_content_items {
  display: flex;
  flex-direction: column;
}
.section_hability_content_items_img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #EFAA1C;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section_news {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0rem 0.75rem;
}
.section_news_title {
  text-align: center;
  margin: 0px 1rem;
}
.section_news_title_name {
  font-family: "Montserrat Alternates", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.section_news_title_description {
  line-height: 2;
}
.section_news_article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}
.section_news_article_card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}
.section_news_article_card_tumb {
  width: 290px;
  height: 150px;
  max-width: 4000px;
}
.section_news_article_card_tumb_link_img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section_news_article_card_content {
  padding-left: 0.8rem;
}
.section_news_article_card_content_date {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  display: block;
}
.section_news_article_card_content_title {
  display: block;
  margin-top: 0px;
  margin-bottom: 0.1rem;
}
.section_news_article_card_content_more {
  margin-top: 6px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
}
.section_news_article_card_content_more_link {
  text-decoration: none;
  color: #fff;
  color: #EFAA1C;
}
.section_news_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_news_btn_all {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #EFAA1C;
  border: 1px solid #EFAA1C;
  border-radius: 5px;
  cursor: pointer;
  /* Cambia el cursor a pointer */
  transition: background-color 0.3s, color 0.3s;
  /* Transición para el efecto hover */
  text-decoration: none;
}
.section_news_btn_all:hover {
  background-color: #9333E6;
  border: 1px solid #6610f2;
  /* Cambia el color de fondo al pasar el cursor */
  color: #fff;
  /* Cambia el color del texto al pasar el cursor */
}

.footer {
  padding: 0rem 0rem;
  color: #fff;
  align-items: center;
  font-family: "Nunito", sans-serif;
  background: #110b31;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  text-align: center;
}
.footer-grid-social {
  padding-bottom: 1rem;
}
.footer-grid-social_title {
  margin-left: 1rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}
.footer-grid-social_images_link-img {
  display: block;
  width: 120x;
  height: 120px;
}
.footer-grid-text {
  padding-bottom: 1rem;
}
.footer-grid-text_title {
  margin-left: 1rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}
.footer-grid-text_description {
  color: #fff;
  justify-content: left;
  justify-items: center;
  width: 295px;
}
.footer-grid-menu {
  display: flex;
  padding-bottom: 1rem;
}
.footer-grid-menu_title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  padding-left: 2rem;
  margin-bottom: 0px;
}
.footer-grid-menu_list {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}
.footer-grid-menu_list_item_link {
  margin-left: 1rem;
  color: #fff;
  text-decoration: none;
}
.footer-grid-menu_list_item_link:hover {
  color: #ef2c93;
  text-decoration: none;
}
.footer-copyright {
  background-color: #0d0923;
  padding: 3px 0px 3px 0px;
  text-align: center;
}

.footer-copyright_text {
  font-size: 0.8rem;
}

@media (max-width: 319px) {
  .cont_header {
    background: #d0287f;
  }
  .section_slide_content_title {
    font-size: 2.5rem;
  }
  .section_slide_content_button {
    background-size: 120px;
    width: 120px;
    height: 36px;
  }
  .section_slide_image {
    top: -60px;
    margin-left: 0;
    margin-right: 0;
  }
  .section_slide_image_gamer {
    right: 0px;
    left: 40px;
  }
  .section_category-popular {
    padding: 0rem;
    margin: 3rem auto;
  }
  .section_category-popular_title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .section_category-popular_title_img {
    width: 150px;
    display: block;
  }
  .section_category-popular_title_name {
    margin-top: 6px;
    margin-bottom: 3rem;
    width: 80%;
    text-transform: uppercase;
  }
  .section_category-popular_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-around;
  }
  .section_category-popular_content-card {
    margin-bottom: 1rem;
    width: 280px;
    min-width: 280px;
    max-width: 380px;
  }
  .section_category-popular_content-card_img {
    width: 180px;
    height: 180px;
  }
  .section_category-popular_content-card_button {
    background: url("../assets/images/icons-buttoms/navigation-bg1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 65px;
    height: 50px;
    border: none;
  }
  .section_hability {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-around;
  }
  .section_hability_content-info {
    display: block;
  }
  .section_hability_content-info_data {
    font-size: 1rem;
    margin-bottom: 0px;
  }
  .section_hability_content-info_category {
    margin: 0 0 1rem 0;
  }
  .section_hability_content_items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 1rem;
  }
  .section_hability_content_items_img {
    width: 140px;
    height: 140px;
    margin: 1rem 1rem;
  }
  .section_news_article {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-around;
  }
  .section_news_article_card {
    margin-bottom: 1rem;
    padding-right: 0px;
    padding-left: 0px;
  }
  .section_news_article_card_tumb {
    justify-content: space-around;
    width: 2670px;
    max-width: 290px;
    max-height: 200px;
  }
  .footer-grid {
    justify-items: center;
  }
  .footer-grid-social {
    padding-bottom: 1rem;
  }
  .footer-grid-social_images_link-img {
    display: inline-flex;
    width: 120px;
    height: 120px;
  }
  .footer-grid-text {
    padding-bottom: 1rem;
  }
  .footer-grid-text_description {
    text-align: center;
    width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .footer-grid-menu {
    display: flex;
    padding-bottom: 1rem;
    align-items: baseline;
    padding: 0px 1rem;
  }
  .footer-grid-menu_list {
    padding-left: 0px;
  }
  .footer-copyright {
    background-color: #0d0923;
    padding: 3px 0px 3px 0px;
    text-align: center;
  }
}
@media (min-width: 460px) and (max-width: 620px) {
  .cont_header {
    background: #3aa3f3;
  }
  .section_slide {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
  .section_slide_content {
    width: 400px;
  }
  .section_slide_content_title {
    font-size: 3rem;
  }
  .section_slide_content_button {
    background-size: 190px;
    width: 190px;
    height: 57px;
  }
  .section_slide_image {
    margin-left: 0;
    margin-right: 0;
  }
  .section_slide_image_gamer {
    left: 180px;
  }
  .section_category-popular {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0rem 0.2rem;
  }
  .section_category-popular_title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .section_category-popular_title_img {
    width: 180px;
    display: block;
  }
  .section_category-popular_title_name {
    margin-top: 6px;
    margin-bottom: 3rem;
    text-transform: uppercase;
  }
  .section_category-popular_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    justify-content: space-around;
  }
  .section_category-popular_content-card {
    margin-bottom: 1rem;
    max-width: 400px;
  }
  .section_category-popular_content-card_button {
    background: url("../assets/images/icons-buttoms/navigation-bg1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 95px;
    height: 75px;
    border: none;
  }
  .section_hability {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .section_hability_content-info_data {
    font-size: 1rem;
    margin-bottom: 0px;
  }
  .section_hability_content-info_category {
    margin: 0 0 1rem 0;
  }
  .section_hability_content_items {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .section_hability_content_items_img {
    width: 140px;
    height: 140px;
    margin: 1rem 1rem;
  }
  .section_news_article_card {
    margin-bottom: 1rem;
  }
  .section_news_article_card_tumb {
    width: 390px;
    height: 250px;
  }
  .footer-grid {
    justify-items: center;
  }
  .footer-grid-social {
    padding-bottom: 1rem;
    grid-column: span 2;
  }
  .footer-grid-social_images_link-img {
    display: inline-flex;
    width: 120px;
    height: 120px;
  }
  .footer-grid-text {
    padding-bottom: 1rem;
    grid-column: span 2;
  }
  .footer-grid-text_description {
    text-align: center;
    width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .footer-grid-menu {
    grid-column: span 2;
    align-items: baseline;
    padding-bottom: 1rem;
    padding: 0px 1rem;
  }
  .footer-grid-menu_list {
    padding-left: 0px;
  }
  .footer-copyright {
    background-color: #0d0923;
    padding: 3px 0px 3px 0px;
    text-align: center;
  }
}
@media (min-width: 620px) and (max-width: 1024px) {
  .cont_header {
    background: #ffb01e;
  }
  .section_slide {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 6rem;
  }
  .section_slide_content {
    width: 200px;
  }
  .section_slide_content_title {
    font-size: 4.7rem;
  }
  .section_slide_content_button {
    background-size: 190px;
    width: 190px;
    height: 57px;
  }
  .section_slide_image {
    width: 300px;
    height: 303.3px;
    padding: 0px 0rem;
    margin: 0px 0px;
    top: 80px;
    right: 10px;
    left: -45px;
  }
  .section_slide_image_gamer {
    width: 100%;
    height: 100%;
  }
  .section_category-popular_title_img {
    width: 180px;
    display: block;
  }
  .section_category-popular_title_name {
    font-size: 2rem;
  }
  .section_category-popular_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
  .section_category-popular_content-card_img {
    width: 190px;
    height: 209px;
  }
}
@media (min-width: 620px) and (max-width: 1024px) and (max-width: 957px) {
  .section_category-popular_content {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }
  .section_category-popular_content-card {
    margin-bottom: 1rem;
    max-width: 360px;
  }
  .section_category-popular_content-card_img {
    width: 190px;
    height: 209px;
  }
  .section_category-popular_content-card_button {
    width: 68px;
    height: 54px;
  }
}
@media (min-width: 620px) and (max-width: 1024px) {
  .section_hability {
    margin-top: 6rem;
    margin-bottom: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
  .section_hability_title_name {
    font-size: 2rem;
  }
  .section_hability_content {
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .section_hability_content-info_data {
    font-size: 1rem;
    margin-bottom: 0px;
  }
  .section_hability_content-info_category {
    margin: 0 0 1rem 0;
    font-size: 3.5rem;
  }
  .section_hability_content_items {
    flex-direction: row;
    padding-bottom: 1rem;
  }
  .section_hability_content_items_img {
    width: 140px;
    height: 140px;
    margin: 0px 1rem;
  }
  .section_news {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .section_news_title_name {
    font-size: 2rem;
  }
  .section_news_article {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0rem 1rem;
  }
  .section_news_article_card {
    margin-bottom: 1rem;
  }
  .footer {
    padding-top: 3rem;
  }
  .footer-grid {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    justify-items: center;
  }
  .footer-grid-social {
    padding-bottom: 1rem;
    grid-column: span 2;
  }
  .footer-grid-social_images_link-img {
    display: inline-flex;
    width: 120px;
    height: 120px;
  }
  .footer-grid-text {
    padding-bottom: 1rem;
    grid-column: span 2;
  }
  .footer-grid-text_description {
    text-align: center;
    width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .footer-grid-menu {
    grid-column: span 2;
    align-items: baseline;
    /* &_title {
      position: relative;
      left: -200px;
      bottom: 16px;
    } */
  }
  .footer-grid-menu_list {
    padding-left: 0px;
  }
  .footer-copyright {
    padding-right: 0px;
    padding-left: 0px;
    background-color: #0d0923;
    padding: 3px 0px 3px 0px;
    text-align: center;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .cont_header {
    background: #820efe;
  }
  .section_slide {
    height: 550px;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
  .section_slide_content {
    padding: 0rem 15%;
    width: 450px;
    justify-content: center;
  }
  .section_slide_content_title {
    font-size: 3.7rem;
  }
  .section_slide_content_button {
    background-size: 128px;
    width: 128px;
    height: 39px;
  }
  .section_slide_image {
    width: 280px;
    height: 284px;
    padding: 0px 0rem;
    margin: 0px 0px;
    top: 160px;
    right: 10px;
    left: -45px;
  }
  .section_slide_image_gamer {
    width: 100%;
    height: 100%;
  }
  .section_category-popular {
    width: 90%;
    margin: 0 auto;
  }
  .section_category-popular_title_img {
    width: 180px;
    display: block;
  }
  .section_category-popular_title_name {
    font-size: 2rem;
  }
  .section_category-popular_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .section_category-popular_content-card {
    margin-top: 0px;
    padding: 3rem 0px;
    width: 300px;
    height: 424px;
  }
  .section_category-popular_content-card_text {
    margin: 0px;
  }
  .section_category-popular_content-card_img {
    width: 135px;
    height: 142px;
    margin-bottom: 2rem;
  }
  .section_category-popular_content-card_name {
    margin: 1rem;
  }
  .section_category-popular_content-card_link {
    margin-bottom: 2rem;
  }
  .section_hability {
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .section_hability_title_name {
    font-size: 2rem;
  }
  .section_hability_content {
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 85%;
    align-items: center;
  }
  .section_hability_content-info {
    margin: 0px;
  }
  .section_hability_content-info_data {
    font-size: 1rem;
    margin: 0px;
  }
  .section_hability_content-info_category {
    margin: 0px;
    font-size: 3.5rem;
  }
  .section_hability_content_items {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .section_hability_content_items_img {
    width: 115px;
    height: 115px;
    margin: 0px 1rem;
  }
  .section_news {
    width: 1280px;
    margin: 0 auto;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 6rem;
    display: block;
  }
  .section_news_title {
    margin-bottom: 3rem;
  }
  .section_news_title_name {
    font-size: 2rem;
  }
  .section_news_article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0rem 1rem;
    justify-content: stretch;
    gap: 1.5rem 2.5rem;
  }
  .section_news_article_card {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
  }
  .section_news_article_card_content {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .section_news_article_card_content_date {
    color: rgba(209, 199, 214, 0.9294117647);
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .section_news_article_card_content_more {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .section_news_article_card_tumb {
    width: 140px;
    height: 112px;
  }
  .section_news_article_card_tumb_link_img {
    box-shadow: 4px 13px 41px 5px rgba(0, 0, 0, 0.75);
    width: 140px;
    height: 112px;
  }
  .footer {
    padding-top: 3rem;
  }
  .footer-grid {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    justify-items: center;
  }
  .footer-grid-social {
    padding-bottom: 1rem;
  }
  .footer-grid-social_images_link-img {
    display: inline-flex;
    width: 120px;
    height: 120px;
  }
  .footer-grid-text {
    padding-bottom: 1rem;
  }
  .footer-grid-text_description {
    text-align: center;
    width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .footer-grid-menu {
    grid-column: span 2;
    align-items: baseline;
  }
  .footer-grid-menu_list {
    padding-left: 0px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) and (min-width: 1362px) {
  .footer-grid-menu {
    display: flex;
    flex-direction: column;
  }
  .footer-grid-menu_title {
    position: static;
  }
  .footer-grid-menu_list {
    flex-direction: column;
    padding-left: 0px;
    margin-left: 3.5rem;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .footer-copyright {
    padding-right: 0px;
    padding-left: 0px;
    background-color: #0d0923;
    padding: 3px 0px 3px 0px;
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .cont_header {
    background: #578e2e;
  }
  .section_slide {
    height: 550px;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
  .section_slide_content {
    padding: 0rem 15%;
    width: 450px;
    justify-content: center;
  }
  .section_slide_content_title {
    font-size: 3.7rem;
  }
  .section_slide_content_button {
    background-size: 128px;
    width: 128px;
    height: 39px;
  }
  .section_slide_image {
    width: 280px;
    height: 284px;
    padding: 0px 0rem;
    margin: 0px 0px;
    top: 160px;
    right: 10px;
    left: -45px;
  }
  .section_slide_image_gamer {
    width: 100%;
    height: 100%;
  }
  .section_category-popular {
    width: 90%;
    margin: 0 auto;
  }
  .section_category-popular_title_img {
    width: 180px;
    display: block;
  }
  .section_category-popular_title_name {
    font-size: 2rem;
  }
  .section_category-popular_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .section_category-popular_content-card {
    margin-top: 0px;
    padding: 3rem 0px;
    width: 300px;
    height: 424px;
  }
  .section_category-popular_content-card_text {
    margin: 0px;
  }
  .section_category-popular_content-card_img {
    width: 135px;
    height: 142px;
    margin-bottom: 2rem;
  }
  .section_category-popular_content-card_name {
    margin: 1rem;
  }
  .section_category-popular_content-card_link {
    margin-bottom: 2rem;
  }
  .section_hability {
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .section_hability_title_name {
    font-size: 2rem;
  }
  .section_hability_content {
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 85%;
    align-items: center;
  }
  .section_hability_content-info {
    margin: 0px;
  }
  .section_hability_content-info_data {
    font-size: 1rem;
    margin: 0px;
  }
  .section_hability_content-info_category {
    margin: 0px;
    font-size: 3.5rem;
  }
  .section_hability_content_items {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .section_hability_content_items_img {
    width: 115px;
    height: 115px;
    margin: 0px 1rem;
  }
  .section_news {
    width: 1280px;
    margin: 0 auto;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 6rem;
    display: block;
  }
  .section_news_title {
    margin-bottom: 3rem;
  }
  .section_news_title_name {
    font-size: 2rem;
  }
  .section_news_article {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    flex-direction: row;
    gap: 1.5rem 2.5rem;
  }
  .section_news_article_card {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    width: 400px;
    align-items: center;
  }
  .section_news_article_card_content {
    max-width: 460px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .section_news_article_card_content_date {
    color: rgba(209, 199, 214, 0.9294117647);
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .section_news_article_card_content_more {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .section_news_article_card_tumb {
    width: 140px;
    height: 112px;
  }
  .section_news_article_card_tumb_link_img {
    box-shadow: 4px 13px 41px 5px rgba(0, 0, 0, 0.75);
    width: 140px;
    height: 112px;
  }
  .footer {
    padding-top: 3rem;
  }
  .footer-grid {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    justify-items: center;
  }
  .footer-grid-social {
    padding-bottom: 1rem;
  }
  .footer-grid-social_images_link-img {
    display: inline-flex;
    width: 120px;
    height: 120px;
  }
  .footer-grid-text {
    padding-bottom: 1rem;
  }
  .footer-grid-text_description {
    text-align: center;
    width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .footer-grid-menu {
    display: contents;
  }
  .footer-grid-menu_title {
    position: relative;
    left: -200px;
    bottom: 16px;
  }
  .footer-grid-menu_list {
    padding-left: 0px;
  }
}
@media (min-width: 1280px) and (min-width: 1362px) {
  .footer-grid-menu {
    display: flex;
    flex-direction: column;
  }
  .footer-grid-menu_title {
    position: static;
  }
  .footer-grid-menu_list {
    flex-direction: column;
    padding-left: 0px;
    margin-left: 3.5rem;
  }
}
@media (min-width: 1280px) {
  .footer-copyright {
    padding-right: 0px;
    padding-left: 0px;
    background-color: #0d0923;
    padding: 3px 0px 3px 0px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */