# Nuxt dev/build outputs
.vitepress/dist
/Dinamica_Nuxt3/docs/.vitepress/dist
.vitepress/cache
/Dinamica_Nuxt3/docs/.vitepress/cache
.output
/Dinamica_Nuxt3/app/.output
.data
/Dinamica_Nuxt3/app/.data
.nuxt
/Dinamica_Nuxt3/app/.nuxt
.nitro
/Dinamica_Nuxt3/app/.nitro
.cache
/Dinamica_Nuxt3/app/.cache
dist
/Dinamica_Nuxt3/app/dist


# Node dependencies
/Dinamica_Nuxt3/app/node_modules
/Dinamica_Nuxt3/back/node_modules
/Dinamica_Nuxt3/docs/node_modules
/Static_Vite-Sass/node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example


############################
# Linux
############################
*~


############################
# Packages
############################

/Dinamica_Nuxt3/app/*.7z
/Dinamica_Nuxt3/app/*.csv
/Dinamica_Nuxt3/app/*.dat
/Dinamica_Nuxt3/app/*.dmg
/Dinamica_Nuxt3/app/*.gz
/Dinamica_Nuxt3/app/*.iso
/Dinamica_Nuxt3/app/*.jar
/Dinamica_Nuxt3/app/*.rar
/Dinamica_Nuxt3/app/*.tar
/Dinamica_Nuxt3/app/*.zip
/Dinamica_Nuxt3/app/*.com
/Dinamica_Nuxt3/app/*.class
/Dinamica_Nuxt3/app/*.dll
/Dinamica_Nuxt3/app/*.exe
/Dinamica_Nuxt3/app/*.o
/Dinamica_Nuxt3/app/*.seed
/Dinamica_Nuxt3/app/*.so
/Dinamica_Nuxt3/app/*.swo
/Dinamica_Nuxt3/app/*.swp
/Dinamica_Nuxt3/app/*.swn
/Dinamica_Nuxt3/app/*.swm
/Dinamica_Nuxt3/app/*.out
/Dinamica_Nuxt3/app/*.pid


/Dinamica_Nuxt3/back/*.7z
/Dinamica_Nuxt3/back/*.csv
/Dinamica_Nuxt3/back*.dat
/Dinamica_Nuxt3/back/*.dmg
/Dinamica_Nuxt3/back/*.gz
/Dinamica_Nuxt3/back/*.iso
/Dinamica_Nuxt3/back/*.jar
/Dinamica_Nuxt3/back/*.rar
/Dinamica_Nuxt3/back/*.tar
/Dinamica_Nuxt3/back/*.zip
/Dinamica_Nuxt3/back/*.com
/Dinamica_Nuxt3/back/*.class
/Dinamica_Nuxt3/back/*.dll
/Dinamica_Nuxt3/back/*.exe
/Dinamica_Nuxt3/back/*.o
/Dinamica_Nuxt3/back/*.seed
/Dinamica_Nuxt3/back/*.so
/Dinamica_Nuxt3/back/*.swo
/Dinamica_Nuxt3/back/*.swp
/Dinamica_Nuxt3/back/*.swn
/Dinamica_Nuxt3/back/*.swm
/Dinamica_Nuxt3/back/*.out
/Dinamica_Nuxt3/back/*.pid

############################
# Logs and databases
############################

# /Dinamica_Nuxt3/back/.tmp
/Dinamica_Nuxt3/back/*.log
/Dinamica_Nuxt3/back/*.sql
/Dinamica_Nuxt3/back/*.sqlite
/Dinamica_Nuxt3/back/*.sqlite3


############################
# Misc.
############################

/Dinamica_Nuxt3/back/*#
/Dinamica_Nuxt3/back/ssl
/Dinamica_Nuxt3/back/.idea
/Dinamica_Nuxt3/back/nbproject
/Dinamica_Nuxt3/back/public/uploads/*
/Dinamica_Nuxt3/back/!public/uploads/.gitkeep
/Dinamica_Nuxt3/back/.tsbuildinfo
/Dinamica_Nuxt3/back/.eslintcache

############################
# Node.js
############################

/Dinamica_Nuxt3/app/lib-cov
/Dinamica_Nuxt3/app/lcov.info
/Dinamica_Nuxt3/app/pids
/Dinamica_Nuxt3/app/logs
/Dinamica_Nuxt3/app/results
/Dinamica_Nuxt3/app/node_modules
/Dinamica_Nuxt3/app/.node_history

/Dinamica_Nuxt3/back/lib-cov
/Dinamica_Nuxt3/back/lcov.info
/Dinamica_Nuxt3/back/pids
/Dinamica_Nuxt3/back/logs
/Dinamica_Nuxt3/back/results
/Dinamica_Nuxt3/back/node_modules
/Dinamica_Nuxt3/back/.node_history


############################
# Tests
############################

/Dinamica_Nuback/coverage

############################
# Strapi
############################

/Dinamica_Nuxt3/back/.env
/Dinamica_Nuxt3/back/license.txt
/Dinamica_Nuxt3/back/exports
/Dinamica_Nuxt3/back/.strapi
/Dinamica_Nuxt3/back/dist
/Dinamica_Nuxt3/back/build
/Dinamica_Nuxt3/back/.strapi-updater.json
/Dinamica_Nuxt3/back/.strapi-cloud.json