# Nuxt dev/build outputs
.vitepress/dist
/Dinamica_Nuxt3/docs/.vitepress/dist
.vitepress/cache
/Dinamica_Nuxt3/docs/.vitepress/cache
.output
/Dinamica_Nuxt3/app/.output
.data
/Dinamica_Nuxt3/app/.data
.nuxt
/Dinamica_Nuxt3/app/.nuxt
.nitro
/Dinamica_Nuxt3/app/.nitro
.cache
/Dinamica_Nuxt3/app/.cache
dist
/Dinamica_Nuxt3/app/dist


# Node dependencies
/Dinamica_Nuxt3/app/node_modules
/Dinamica_Nuxt3/docs/node_modules
/Static_Vite-Sass/node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example




############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
/Dinamica_Nuxt3/app/back/ehthumbs.db
/Dinamica_Nuxt3/app/back/Desktop.ini
/Dinamica_Nuxt3/app/back/$RECYCLE.BIN/
/Dinamica_Nuxt3/app/back/*.cab
/Dinamica_Nuxt3/app/back/*.msi
/Dinamica_Nuxt3/app/back/*.msm
/Dinamica_Nuxt3/app/back/*.msp


############################
# Packages
############################

/Dinamica_Nuxt3/app/back/*.7z
/Dinamica_Nuxt3/app/back/*.csv
*.dat
/Dinamica_Nuxt3/app/back/*.dmg
/Dinamica_Nuxt3/app/back/*.gz
/Dinamica_Nuxt3/app/back/*.iso
/Dinamica_Nuxt3/app/back/*.jar
/Dinamica_Nuxt3/app/back/*.rar
/Dinamica_Nuxt3/app/back/*.tar
/Dinamica_Nuxt3/app/back/*.zip
/Dinamica_Nuxt3/app/back/*.com
/Dinamica_Nuxt3/app/back/*.class
/Dinamica_Nuxt3/app/back/*.dll
/Dinamica_Nuxt3/app/back/*.exe
/Dinamica_Nuxt3/app/back/*.o
/Dinamica_Nuxt3/app/back/*.seed
/Dinamica_Nuxt3/app/back/*.so
/Dinamica_Nuxt3/app/back/*.swo
/Dinamica_Nuxt3/app/back/*.swp
/Dinamica_Nuxt3/app/back/*.swn
/Dinamica_Nuxt3/app/back/*.swm
/Dinamica_Nuxt3/app/back/*.out
/Dinamica_Nuxt3/app/back/*.pid


############################
# Logs and databases
############################

/Dinamica_Nuxt3/app/back/.tmp
/Dinamica_Nuxt3/app/back/*.log
/Dinamica_Nuxt3/app/back/*.sql
/Dinamica_Nuxt3/app/back/*.sqlite
/Dinamica_Nuxt3/app/back/*.sqlite3


############################
# Misc.
############################

/Dinamica_Nuxt3/app/back//Dinamica_Nuxt3/app/back/*#
/Dinamica_Nuxt3/app/back//Dinamica_Nuxt3/app/back/ssl
/Dinamica_Nuxt3/app/back//Dinamica_Nuxt3/app/back/.idea
/Dinamica_Nuxt3/app/back//Dinamica_Nuxt3/app/back/nbproject
/Dinamica_Nuxt3/app/back//Dinamica_Nuxt3/app/back/public/uploads/*
/Dinamica_Nuxt3/app/back//Dinamica_Nuxt3/app/back/!public/uploads/.gitkeep
/Dinamica_Nuxt3/app/back//Dinamica_Nuxt3/app/back/.tsbuildinfo
/Dinamica_Nuxt3/app/back//Dinamica_Nuxt3/app/back/.eslintcache

############################
# Node.js
############################

/Dinamica_Nuxt3/app/back/lib-cov
/Dinamica_Nuxt3/app/back/lcov.info
/Dinamica_Nuxt3/app/back/pids
/Dinamica_Nuxt3/app/back/logs
/Dinamica_Nuxt3/app/back/results
/Dinamica_Nuxt3/app/back/node_modules
/Dinamica_Nuxt3/app/back/.node_history

############################
# Package managers
############################

/Dinamica_Nuxt3/app/back/.yarn/*
/Dinamica_Nuxt3/app/back/!.yarn/cache
/Dinamica_Nuxt3/app/back/!.yarn/unplugged
/Dinamica_Nuxt3/app/back/!.yarn/patches
/Dinamica_Nuxt3/app/back/!.yarn/releases
/Dinamica_Nuxt3/app/back/!.yarn/sdks
/Dinamica_Nuxt3/app/back/!.yarn/versions
/Dinamica_Nuxt3/app/back/.pnp.*
/Dinamica_Nuxt3/app/back/yarn-error.log

############################
# Tests
############################

/Dinamica_Nuxt3/app/back/coverage

############################
# Strapi
############################

/Dinamica_Nuxt3/app/back/.env
/Dinamica_Nuxt3/app/back/license.txt
/Dinamica_Nuxt3/app/back/exports
/Dinamica_Nuxt3/app/back/.strapi
/Dinamica_Nuxt3/app/back/dist
/Dinamica_Nuxt3/app/back/build
/Dinamica_Nuxt3/app/back/.strapi-updater.json
/Dinamica_Nuxt3/app/back/.strapi-cloud.json