//FONT
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat+Alternates:wght@200;400;700;800&family=Nunito:wght@200;300;400&display=swap');
$font-primary: 'Montserrat Alternates', sans-serif;
$font-secondary: 'Bebas Neue', sans-serif;
$font-tertiary: 'Nunito', sans-serif;

//PALETA DE COLORES
$color-1: #4640ff;
$color-2: #1aa5f6;
$color-3: #efaa1c;
$color-4a: #9333e6;
$color-4b: #6610f2;
$color-4c: #160e3d;
$color-4d: #140e38;
$color-4e: #0d0923;
$color-5: #fff;
$color-5b: #c4cbf9;

//footer
$color-footer: #110b31;

//card noticias
$color-cardaside: #160351;

//background noticias
$color-background: #000033;
$color-background: rgb(0, 0, 41);
//transparencias
$color-tr1: #766ee6;
/* $color-tr2: #4640ff7a; */
$color-tr2: #211f8f;

h1 {
  font-family: $font-primary;
  color: $color-5;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.4rem;
  font-family: $font-primary;
  color: $color-5;
}

h3 {
  font-size: 1.25rem;
  font-family: $font-primary;
  color: $color-5;
}

p {
  font-size: 1rem;
  font-family: $font-tertiary;
}
